html {
  color: $color-dark1;
  line-height: 1.2;
}

body {
  position: relative;
}

.section {
  &__header {
    text-align: center;

    @include breakpoint(lg) {
      width: 45%;
    }

    h3 {
      color: $color-primary;
    }
  }
}

.go-top {
  opacity: 0;
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  z-index: 3;
  transition: opacity 0.3s ease-in-out;

  &.show {
    opacity: 1;
  }
  img {
    width: 40px;
    height: 40px;
    transform: rotate(90deg);
  }
}
